---
import Layout from "../layouts/Layout.astro";
import Chain from "../components/chain.astro";
---

<Layout title="Jackal Labs Dashboard">
  <div class="header">
    <h2>Jackal Labs Dashboard</h2>
    <p>
      Tracking everything Jackal &#128058 - Inspired by <a
        href="https://ping.pub/"
        target="_blank">Ping Dashboard</a>
    </p>
  </div>
  <main>
    <div class="chain-validator-title">
      <h3>Jackal as a Cosmos Validator</h3>
      <p>Who we validate for on the Cosmos Hub :)</p>
    </div>
    <div class="chain-validator">
      <Chain
        title="Secret"
        api="https://api.scrt.network"
        address="secretvalcons1qz6dgmf0rgk8p08wznlnmqe7hnm4qydftvaajj"
      />
      <Chain
        title="Evmos"
        api="https://evmos-api.polkachu.com"
        address="evmosvalcons1tu64shxp6m94nsc5uefs3agay8gjne0r0t0ux3"
      />
      <Chain
        title="Akash"
        api="https://api-akash-ia.cosmosia.notional.ventures"
        address="akashvalcons1au2nql99wn2k27qt8fzlj9anzksj22typhcywv"
      />
    </div>
  </main>
</Layout>

<style>
  .header {
    padding: 20px 20px;
  }
  main {
    padding: 0;
  }
  .chain-validator-title {
    padding: 20px 20px;
  }
  .chain-validator {
    font-size: 20px;
    display: flex;
    flex-grow: 1;
    justify-content: left;
    text-align: left;
    align-items: stretch;
  }
</style>
