---
import Layout from "../layouts/Layout.astro";

const akashLatestBlock = await fetch(
  "https://api-akash-ia.cosmosia.notional.ventures/blocks/latest"
).then((res) => res.json());
const akashCurrBlock = akashLatestBlock["block"]["header"]["height"];
---

<Layout title="Welcome to Astro.">
  <main>
    <div class="block-height">
      Secret Current Block Height: {JSON.stringify(akashCurrBlock)}
      <br />
      Evmos Current Block Height: {JSON.stringify(akashCurrBlock)}
      <br />
      Akash Current Block Height: {JSON.stringify(akashCurrBlock)}
      <br />
      Kujira Current Block Height: {JSON.stringify(akashCurrBlock)}
    </div>
  </main>
</Layout>

<style>
  main {
    font-size: 30px;
    justify-content: center;
    text-align: center;
  }

  .block-height {
    padding-top: 10px;
  }
</style>
