---
import Layout from "../layouts/Layout.astro";
import Chain from "../components/chain.astro";
import Validators from "../components/validators.astro";
import TokenInfo from "../components/tokeninfo.astro";
// import Tests from "../components/tests.astro";
---

<Layout title="Jackal Labs Explorer">
  <div class="contact">
    <ul class="contact-text">
      <li><a href="https://www.eddyguo.ca/" target="_blank">Contact</a></li>
      <li>
        <a
          href="https://github.com/eddy-guo/jackallabs-explorer"
          target="_blank">Source Code (GitHub)</a>
      </li>
      <li>
        <a href="https://jackalprotocol.com/" target="_blank">Jackal Website</a>
      </li>
      <li>
        <a href="https://twitter.com/Jackal_Protocol" target="_blank"
          >Jackal Twitter</a>
      </li>
    </ul>
  </div>
  <div class="header">
    <h2>Jackal Labs Explorer</h2>
    <p>
      Tracking everything Jackal &#128058 - Inspired by <a
        href="https://ping.pub/"
        target="_blank">Ping Dashboard</a
      >
    </p>
  </div>
  <main>
    <div class="title">
      <h3>Jackal Token Info ($JKL)</h3>
      <p>Price, Volume, Liquidity, Historical Data, etc.</p>
    </div>
    <TokenInfo />
    <div class="title">
      <h3>Jackal as a Cosmos Validator</h3>
      <p>Who we validate for on the Cosmos Network &#128526</p>
    </div>
    <div class="chain-validator">
      <Chain
        title="Secret"
        api="https://api.scrt.network"
        address="secretvalcons1qz6dgmf0rgk8p08wznlnmqe7hnm4qydftvaajj"
        image="secret"
      />
      <Chain
        title="Evmos"
        api="https://evmos-api.polkachu.com"
        address="evmosvalcons1tu64shxp6m94nsc5uefs3agay8gjne0r0t0ux3"
        image="evmos"
      />
      <Chain
        title="Akash"
        api="https://api-akash-ia.cosmosia.notional.ventures"
        address="akashvalcons1au2nql99wn2k27qt8fzlj9anzksj22typhcywv"
        image="akash"
      />
    </div>
    <div class="title">
      <h3>Staking with Jackal</h3>
      <p>Check out our validators!</p>
    </div>
    <Validators />
  </main>
</Layout>

<style>
  .contact {
    background-color: black;
    color: white;
    font-size: 15px;
  }
  .contact-text {
    margin: 0;
    list-style-type: none;
    text-align: left;
    padding-left: 20px;
  }
  .contact-text > li {
    display: inline-block;
    padding-right: 20px;
    font-family: Monospace;
  }
  .contact-text > li > a,
  .contact-text > li > a:visited {
    text-decoration: none;
    color: white;
  }
  .contact-text > li > a:hover {
    text-decoration: underline;
  }
  .header {
    padding: 20px 20px;
  }
  .header > p > a,
  .header > p > a:visited {
    font-weight: 600;
    text-decoration: none;
    color: #531a99;
    text-decoration-line: underline;
    text-decoration-style: dashed;
    text-underline-offset: 0.15em;
    text-decoration-thickness: 0.05em;
  }
  .header > p > a:hover {
    filter: brightness(1.5);
  }
  main {
  }
  .title {
    padding: 20px 20px;
  }
  .chain-validator {
    /* font-size: 20px; */
    display: flex;
    background-color: white;
    border-left: 1px solid #d3d3d3;
  }
</style>
