---
const tokenInfo = await fetch("https://api.dexscreener.com/latest/dex/search?q=jkl").then((res) => res.json());
---

<div class="price">
    <p>Price: {tokenInfo["pairs"][0]["priceUsd"]}</p>
    <p>Buys in the past 5m: {tokenInfo["pairs"][0]["txns"]["m5"]["buys"]}</p>
    <p>Sells in the past 5m: {tokenInfo["pairs"][0]["txns"]["m5"]["sells"]}</p>
</div>

<style>
  .price {
    background: white;
    padding: 20px 20px;
  }
</style>
