---
const tokenInfo = await fetch(
  "https://api.dexscreener.com/latest/dex/search?q=jkl"
).then((res) => res.json());

interface tokenInfo {
  title: string;
  time: string;
}

const five_min: tokenInfo = {
  title: "5M",
  time: "m5",
};

const one_hour: tokenInfo = {
  title: "1HR",
  time: "h1",
};

const six_hour: tokenInfo = {
  title: "6HR",
  time: "h6",
};

const twentyfour_hour: tokenInfo = {
  title: "24HR",
  time: "h24",
};

const tokenInfoList = [five_min, one_hour, six_hour, twentyfour_hour];

var price = "";
function changePriceColor(num: any) {
  num == 0
    ? (price = "zero")
    : num > 0
    ? (price = "positive")
    : num < 0
    ? (price = "negative")
    : console.log("Price change is not a number.");
}
---

<script>
  var fiveminID = document.getElementById("5M");
  var onehrID = document.getElementById("1HR");
  var sixhrID = document.getElementById("6HR");
  var twentyfourhrID = document.getElementById("24HR");

  fiveminID.style.display = onehrID.style.display = sixhrID.style.display = "none";
  twentyfourhrID.style.display = "block";

  function toggleFiveMin() {
    if (fiveminID.style.display == "none") {
      fiveminID.style.display = "block";
      onehrID.style.display = sixhrID.style.display = twentyfourhrID.style.display = "none";
    }
  }
  function toggleOneHour() {
    if (onehrID.style.display == "none") {
      onehrID.style.display = "block";
      fiveminID.style.display = sixhrID.style.display = twentyfourhrID.style.display = "none";
    }
  }
  function toggleSixHour() {
    if (sixhrID.style.display == "none") {
      sixhrID.style.display = "block";
      fiveminID.style.display = onehrID.style.display = twentyfourhrID.style.display = "none";
    }
  }  function toggleTwentyFourHour() {
    if (twentyfourhrID.style.display == "none") {
      twentyfourhrID.style.display = "block";
      fiveminID.style.display = onehrID.style.display = sixhrID.style.display = "none";
    }
  }

  document.getElementById("5Mbutton").addEventListener("click", toggleFiveMin);
  document.getElementById("1HRbutton").addEventListener("click", toggleOneHour);
  document.getElementById("6HRbutton").addEventListener("click", toggleSixHour);
  document.getElementById("24HRbutton").addEventListener("click", toggleTwentyFourHour);
</script>

<button id="5Mbutton">5M</button>
<button id="1HRbutton">1HR</button>
<button id="6HRbutton">6HR</button>
<button id="24HRbutton">24HR</button>

<div class="token-info">
  <div class="price-info">
    <img src="/images/jkl.svg" alt="jkl-logo" />
    <div class="price-info-text">
      <p>USD Price: <b>${tokenInfo["pairs"][0]["priceUsd"]}</b></p>
      <p>Native Price: <b>{tokenInfo["pairs"][0]["priceNative"]} OSMO</b></p>
      <p>
        Liquidity: <b
          >${tokenInfo["pairs"][0]["liquidity"]["usd"].toLocaleString()}</b
        >
      </p>
    </div>
  </div>
  {
    tokenInfoList.map((value: any) => (
      <>
        {
          <div id={value.title} class="token-info-component">
            <h4>{value.title}</h4>
            <div class="tidbit">
              <p class="tidbit-title">Transactions</p>
              <span>
                Buys: <b>{tokenInfo["pairs"][0]["txns"][value.time]["buys"]}</b>
              </span>
              <span>
                Sells:{" "}
                <b>{tokenInfo["pairs"][0]["txns"][value.time]["sells"]}</b>
              </span>
            </div>
            <div class="tidbit">
              <p class="tidbit-title">Overall Volume</p>
              <span>
                <b>
                  $
                  {tokenInfo["pairs"][0]["volume"][value.time].toLocaleString()}
                </b>
              </span>
            </div>
            <div class="tidbit">
              <p class="tidbit-title">Price Change</p>
              {changePriceColor(
                tokenInfo["pairs"][0]["priceChange"][value.time]
              )}
              <span class={price}>
                <b>{tokenInfo["pairs"][0]["priceChange"][value.time]}%</b>
              </span>
            </div>
          </div>
        }
      </>
    ))
  }
</div>

<style>
  .token-info {
    display: flex;
    background-color: white;
    border-left: 1px solid #d3d3d3;
  }
  .token-info > div {
    flex-grow: 1;
  }
  .price-info {
    display: flex;
  }
  .price-info-text {
    display: flex;
    flex-direction: column;
  }
  .price-info-text > p {
    flex-grow: 1;
    margin-bottom: 10px;
  }
  .token-info-component,
  .price-info {
    padding: 20px 20px;
    /* display: flex; */
    /* flex-grow: 1; */
    border-top: 1px solid #d3d3d3;
    border-right: 1px solid #d3d3d3;
    border-bottom: 1px solid #d3d3d3;
  }
  .token-info-component > h4 {
    font-size: 20px;
  }
  .price-info {
    display: flex;
  }
  img {
    padding-right: 20px;
  }
  .tidbit {
    margin-bottom: 10px;
  }
  .tidbit-title {
    text-decoration: underline;
  }
  .positive {
    color: #47b000;
  }
  .negative {
    color: red;
  }
  .zero {
    color: black;
  }
  #temp {
    display: block;
  }
</style>
