---
const tokenInfo = await fetch(
  "https://api.dexscreener.com/latest/dex/search?q=jkl"
).then((res) => res.json());

interface tokenInfo {
  title: string;
  time: string;
}

const five_min: tokenInfo = {
  title: "5M",
  time: "m5",
};

const one_hour: tokenInfo = {
  title: "1HR",
  time: "h1",
};

const six_hour: tokenInfo = {
  title: "6HR",
  time: "h6",
};

const twentyfour_hour: tokenInfo = {
  title: "24HR",
  time: "h24",
};

const tokenInfoList = [five_min, one_hour, six_hour, twentyfour_hour];
---

<div class="token-info">
  <div class="token-info-component">
    <p>USD Price: <b>${tokenInfo["pairs"][0]["priceUsd"]}</b></p>
    <p>Native Price: <b>{tokenInfo["pairs"][0]["priceNative"]} OSMO</b></p>
    <p>Liquidity: <b>${tokenInfo["pairs"][0]["liquidity"]["usd"].toLocaleString()}</b></p>
  </div>
  {
    tokenInfoList.map((value: any) => (
      <div class="token-info-component">
        <h4>{value.title}</h4>
        <div class="tidbit">
          <p class="tidbit-title">Transactions</p>
          <span>
            Buys: <b>{tokenInfo["pairs"][0]["txns"][value.time]["buys"]}</b>
          </span>
          <span>
            Sells: <b>{tokenInfo["pairs"][0]["txns"][value.time]["sells"]}</b>
          </span>
        </div>
        <div class="tidbit">
          <p class="tidbit-title">Overall Volume</p>
          <span>
            <b>${tokenInfo["pairs"][0]["volume"][value.time].toLocaleString()}</b>
          </span>
        </div>
        <div class="tidbit">
          <p class="tidbit-title">Price Change</p>
          <span class="positive"><b>{tokenInfo["pairs"][0]["priceChange"][value.time]}%</b></span>
        </div>
      </div>
    ))
  }
</div>

<style>
  .token-info {
    display: flex;
    background-color: white;
    font-size: 20px;
    border-left: 1px solid #d3d3d3;
  }
  .token-info > div {
    flex-grow: 1;
  }
  .token-info-component {
    padding: 20px 20px;
    /* display: flex; */
    /* flex-grow: 1; */
    border-top: 1px solid #d3d3d3;
    border-right: 1px solid #d3d3d3;
    border-bottom: 1px solid #d3d3d3;
  }
  .tidbit {
    padding-bottom: 10px;
  }
  .tidbit-title {
    text-decoration: underline;
  }
  .positive {
    color: #47b000;
  }
  .negative {
    color: red;
  }
</style>
