---
import { Chain, getCurrentBlock, getValidators } from "../components/chain.astro";

const jackalChain: Chain = {
    title: "jackal",
    api: "https://api.jackalprotocol.com",
    address: "",
}

const jackalHeight = await getCurrentBlock(jackalChain);
const jackalValidators = await getValidators(jackalChain);
var maxValidators = jackalValidators["result"]["total"];
var validatorList = []

for (let i = 0; i < maxValidators; i++) {
  validatorList.push(`${i+1}: ` + jackalValidators["result"]["validators"][i]["address"])
}

---
<div class="validators">
  <p>Number of validators: {maxValidators}</p>
  <ul>
    {validatorList.map((item) => (
      <li>{item}</li>
    ))}
  </ul>
</div>

<style>
  .validators {
    background: white;
  }
</style>
