---
import {
  Chain,
  getCurrentBlock,
  getValidators,
} from "../components/chain.astro";

const jackalChain: Chain = {
  title: "jackal",
  api: "https://api.jackalprotocol.com",
  address: "",
};

// improved get functions (lazy fuck)
async function getValidatorsNew(chain: Chain) {
  const response = await fetch(
    `${chain.api}/cosmos/staking/v1beta1/validators?status=BOND_STATUS_BONDED`
  ).then((res) => res.json());
  return response;
}

const jackalHeight = await getCurrentBlock(jackalChain);
var jackalValidators = await getValidatorsNew(jackalChain);
var maxValidators = jackalValidators["pagination"]["total"];
var validatorList = [];

for (let i = 0; i < maxValidators; i++) {
  validatorList.push(jackalValidators["validators"][i]["operator_address"]);
}
---

<p>Number of validators: {maxValidators}</p>
<p>Current Jackal Block Height: {jackalHeight}</p>
<div class="validators">
  <table>
    <tr>
      <th>Rank</th>
      <th>Validator Name</th>
      <th>Validator Address</th>
      <th>Voting Power</th>
    </tr>
    {
      jackalValidators["validators"].map((value: any, index: any) => (
        <tr>
          <td>? (need to order)</td>
          <td>
            <a href={value["description"]["website"]} target="_blank">
              {value["description"]["moniker"]}
            </a>
          </td>
          <td>{value["operator_address"]}</td>
          <td class="voting-power">{Math.round(value["tokens"] / 1000000)} JKL</td>
        </tr>
      ))
    }
  </table>
</div>

<style>
  .validators {
    background: white;
    display: flex;
  }
  table {
    width: 100%;
    flex-grow: 1;
    text-align: left;
    border-spacing: 0px;
  }
  th,
  td {
    padding: 10px 20px;
    border-bottom: 1px solid #d3d3d3;
  }
  .voting-power {
    text-align: right;
  }
  a, a:visited {
    text-decoration: none;
    color: black;
  }
  a:hover {
    text-decoration: underline;
  }
</style>
