---
// export interface Props {
// 	title: string;
// }

// const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.png" />
		<meta name="generator" content={Astro.generator} />
		
		<!-- Primary Meta Tags -->
		<title>Jackal Labs Explorer</title>
		<meta name="title" content="Jackal Labs Explorer">
		<meta name="description" content="Tracking Jackal validators, token price, and much more.">
		<!-- Open Graph / Facebook -->
		<meta property="og:type" content="website">
		<meta property="og:url" content="https://jackallabs-explorer.vercel.app/">
		<meta property="og:title" content="Jackal Labs Explorer">
		<meta property="og:description" content="Tracking Jackal validators, token price, and much more.">
		<meta property="og:image" content="https://jackallabs-explorer.vercel.app/image/meta.png">
		<!-- Twitter -->
		<meta property="twitter:card" content="summary_large_image">
		<meta property="twitter:url" content="https://jackallabs-explorer.vercel.app/">
		<meta property="twitter:title" content="Jackal Labs Explorer">
		<meta property="twitter:description" content="Tracking Jackal validators, token price, and much more.">
		<meta property="twitter:image" content="https://jackallabs-explorer.vercel.app/image/meta.png">
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	:root {
		--accent: 124, 58, 237;
		--accent-gradient: linear-gradient(45deg, rgb(var(--accent)), #da62c4 30%, white 60%);
	}
	html {
		font-family: system-ui, sans-serif;
		background-color: #e5ebef;
	}
	code {
		font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
			Bitstream Vera Sans Mono, Courier New, monospace;
	}
	body, p, h2, h3, h4 {
		margin: 0;
	}
	h2, h3, h4 {
		margin-bottom: 10px;
	}
</style>
